{% extends "BulkLister/layout.html" %}
{% load static %}

{% block body %} 
    <section class="form-section">

        <h3 class="title">Enter static listing info</h3>
        
        <!-- Visible  -->

        <label for="action">Action <span class="glyphicon glyphicon-info-sign"></span></label>
        <select id="action" class="input-field">
            <option>Add</option>
        </select>

        <label for="title">*Title</label>
        <input id="title" type="text" class="input-field">

        <label for="subtitle">Subtitle</label>
        <input id="subtitle" type="text" class="input-field">

        <label for="condition">Condition</label>
        <select id="condition" class="input-field">
            <option></option>
            <option>New</option>
            <option>Like New</option>
            <option>Used</option>
        </select>

        <label for="photos">Photos <a href="https://imgbb.com/" target="_blank">(upload and copy url)</a></label>
        <input id="photos" class="input-field" type="text">

        <label for="game">*Game</label>
        <select id="game" class="input-field">
            <option></option>
            <option id="game-option">Pokemon TCG</option>
            <option id="game-option">Magic: The Gathering</option>
        </select>

        <div id="MTG" style="display: none;">
            <label id="mtg-ct-label" for="card-type">Card Type</label>
            <select id="mtg-card-type" class="input-field">
            <option></option>
            <option class="ct-option">Creature</option>
            <option class="ct-option">Instant</option>
            <option class="ct-option">Sorcery</option>
            <option class="ct-option">Enchantment</option>
            <option class="ct-option">Artifact</option>
            <option class="ct-option">Land</option>
            <option class="ct-option">Planeswalker</option>
            <option class="ct-option">Enter your own</option>
        </select>

        <label for="mtg-spec">Speciality</label>
        <input id="mtg-spec" type="text" class="input-field">

        <label for="mtg-stage">Stage</label>
        <input id="mtg-stage" type="text" class="input-field">

        <label for="mtg-set">Set</label>
        <select id="mtg-set" class="input-field">
            <option></option>
            <option>Dominaria United</option>
            <option>Streets of New Capenna</option>
            <option>Kamigawa: Neon Dynasty</option>
            <option>Innistrad: Crimson Vow</option>
            <option>Innistrad: Midnight Hunt</option>
            <option>Enter your own</option>
        </select>

        </div>

        <div id="pokemon" style="display: none;">
            <label id="pokemon-ct-label" for="card-type">Card Type</label>
            <select id="pokemon-card-type" class="input-field">
            <option></option>
            <option class="ct-option">Energy-Basic</option>
            <option class="ct-option">Energy-Special</option>
            <option class="ct-option">Pokémon</option>
            <option class="ct-option">Pokémon Tool</option>
            <option class="ct-option">Rocket's Secret Machine</option>
            <option class="ct-option">Rocket's Secret Robot</option>
            <option class="ct-option">Trainer</option>
            <option class="ct-option">Trainer-Item</option>
            <option class="ct-option">Trainer-Stadium</option>
            <option class="ct-option">Trainer-Supporter</option>
            <option class="ct-option">Enter your own</option>
        </select>

        <label for="pokemon-spec">Speciality</label>
        <select id="pokemon-spec" class="input-field">
            <option></option>
            <option>BREAK</option>
            <option>EX</option>
            <option>GX</option>
            <option>LEGEND</option>
            <option>Level Up</option>
            <option>MEGA</option>
            <option>PRIME</option>
            <option>Restored</option>
            <option>SP</option>
            <option>TAG TEAM</option>
            <option>V</option>
            <option>VMAX</option>
            <option>Enter your own</option>
        </select>

        <label for="pokemon-stage">Stage</label>
        <select id="pokemon-stage" class="input-field">
            <option></option>
            <option>Basic</option>
            <option>Stage 1</option>
            <option>Stage 2</option>
            <option>Enter your own</option>
        </select>

        <label for="pokemon-set">Set</label>
        <select id="pokemon-set" class="input-field">
            <option></option>
            <option>Hidden Fates</option>
            <option>Brilliant Stars</option>
            <option>Shining Fates</option>
            <option>Team Rocket</option>
            <option>Neo Genesis</option>
            <option>Gym Heroes</option>
            <option>Black & White</option>
            <option>Dragon Vault</option>
            <option>Darkness Ablaze</option>
            <option>Champion's Path</option>
            <option>Breakthrough</option>
            <option>Forbidden Light</option>
            <option>Generations</option>
            <option>Primal Clash</option>
            <option>Enter your own</option>
        </select>

        </div>

        <!-- hidden -->
        <input id="category" value="183454" class="input-field" hidden>

        <button id="static-button" class="btn btn-primary">Continue</button>
    </section>
{% endblock %}

{% block script %}
    <script src="{% static 'BulkLister/index.js' %}"></script>
{% endblock %}